<div class="card-container">
<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Сброс пароля</mat-card-title>
    </mat-card-header>
    <mat-card-content class="no-bottom-margin">
        <form name="authForm" #authForm="ngForm">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Новый Пароль</mat-label>
              <input name="authPassword" [(ngModel)]="password" #_password="ngModel" matInput
                [type]="hidePass ? 'password' : 'text'" autocomplete="off" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
              <mat-icon matSuffix (click)="hidePass = !hidePass" class="active">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-hint>Не менее 8 символов. Должен содерать строчный, прописной и цифровой символы</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Повторите Пароль</mat-label>
              <input name="authPasswordRe" [(ngModel)]="passwordRe" #_passwordRe="ngModel" matInput
                [type]="hidePassRe ? 'password' : 'text'" autocomplete="off" required pattern="{{ _password.value }}">
              <mat-icon matSuffix (click)="hidePassRe = !hidePassRe" class="active">{{hidePassRe ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error class="error-message" *ngIf="_passwordRe.invalid">Пароли не совпадают</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="login-actions">
            <button mat-raised-button class="login-btn" color="primary" [disabled]="authForm.invalid"
              (click)="reset()">Сохранить</button>
    </mat-card-actions>
  </mat-card>
</div>